container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lpb.settings"
    "PYTHONPATH": "/opt/python/current/app/lpb:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: lpb/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"