{% load staticfiles %}
{% for post in blog_posts %}
<section id="popup-blog-{{ forloop.counter }}" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">

                {# Subtemplate post_media #}
                {% include 'blog/post_media.html' %}

                <div class="popup-window-header">
                    <div class="popup-window-close"></div>
                    <h2>{{ post.title }}</h2>
                </div>
                <div class="popup-window-detail">
                    <div class="left-detail">
                        Published on <span class="text-dark">{{ post.date_published|date:"d F, Y" }}</span> <span class="delimiter-inline"></span> By <a href="#">{{ post.author }}</a> <span class="delimiter-inline"></span> In: <a href="#">{{ post.category }}</a>, <span class="delimiter-inline"></span> Comments: <a href="#">3</a>
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="{% static 'images/share/facebook.png' %}"></a>
                            <a href="#"><img alt="google plus" src="{% static 'images/share/google_plus.png' %}"></a>
                            <a href="#"><img alt="twitter" src="{% static 'images/share/twitter.png' %}"></a>
                            <a href="#"><img alt="pinterest" src="{% static 'images/share/pinterest.png' %}"></a>
                        </div>
                    </div>
                </div>

                {# Subtemplate post_full #}
                {% include 'blog/post_body.html' %}

                <div class="popup-window-detail">
                    <div class="left-detail">
                        Tags: {% for tag in post.tags.all %}<a href="#">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="{% static 'images/share/facebook.png' %}"></a>
                            <a href="#"><img alt="google plus" src="{% static 'images/share/google_plus.png' %}"></a>
                            <a href="#"><img alt="twitter" src="{% static 'images/share/twitter.png' %}"></a>
                            <a href="#"><img alt="pinterest" src="{% static 'images/share/pinterest.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <h2>3 Comments</h2>
                    <div class="comment">
                        <div class="comment-container">
                            <div class="comment-avatar">
                                <img alt="avatar" src="images/avatar/1_small.jpg">
                            </div>
                            <div class="comment-reply">
                                <a href="#" class="button-border">Reply</a>
                            </div>
                            <div class="comment-content">
                                <p class="comment-author">John Doe</p>
                                <span class="comment-detail">September 4, 2014 at 1:08 am</span>
                                <p>
                                    Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </p>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-container">
                                <div class="comment-avatar">
                                    <img alt="avatar" src="images/avatar/empty.png">
                                </div>
                                <div class="comment-reply">
                                    <a href="#" class="button-border">Reply</a>
                                </div>
                                <div class="comment-content">
                                    <p class="comment-author">Frank Bush</p>
                                    <span class="comment-detail">September 4, 2014 at 1:08 am</span>
                                    <p>
                                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-container">
                            <div class="comment-avatar">
                                <img alt="avatar" src="images/avatar/2_small.jpg">
                            </div>
                            <div class="comment-reply">
                                <a href="#" class="button-border">Reply</a>
                            </div>
                            <div class="comment-content">
                                <p class="comment-author">Britney Doe</p>
                                <span class="comment-detail">September 4, 2014 at 1:08 am</span>
                                <p>
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="margin-10"></div>
                    <h2>Leave a comment</h2>

                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-container">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="input-container">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="input-container">
                                    <input type="text" placeholder="Website">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-container">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <input class="pull-left submit-small" type="submit" value="Submit Comment">
                        </div>
                        <div class="margin-20"></div>
                    </form>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-1 -->
{% endfor %}
{% comment %}
<section id="popup-blog-2" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">
                <div class="popup-window-header">
                    <h2>Video post</h2>
                </div>
                <div class="popup-window-detail">
                    <div class="left-detail">
                        Date <span class="text-dark">23 October, 2014</span> <span class="delimiter-inline"></span> Posted By <a href="#">Admin</a> <span class="delimiter-inline"></span> Categories: <a href="#">Photo</a>, <a href="#">Other</a> <span class="delimiter-inline"></span> Comments: <a href="#">3</a>
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="images/share/facebook.png"></a>
                            <a href="#"><img alt="google plus" src="images/share/google_plus.png"></a>
                            <a href="#"><img alt="twitter" src="images/share/twitter.png"></a>
                            <a href="#"><img alt="pinterest" src="images/share/pinterest.png"></a>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <p class="text-dark"><strong><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</em></strong></p>
                    <h4>Large Heading</h4>
                    <p>Nam liber tempor cum soluta nobis eleifend option <span class="text-highlight text-extrabold">congue nihil imperdiet doming</span> id quod mazim placerat facer possim assum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas.</p>
                    <h5>Subheading</h5>
                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="first-heading">Unordered List</h4>
                            <ul class="list-gray">
                                <li>Mirum est notare quam littera gothica, quam nunc;</li>
                                <li>laritas est etiam processus dynamicus;</li>
                                <li>Putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4 class="first-heading">Ordered List</h4>
                            <ul class="list-numbers">
                                <li>Mirum est notare quam littera gothica, quam nunc;</li>
                                <li>laritas est etiam <span class="text-dark"><u>processus dynamicus</u></span>;</li>
                                <li>Putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</li>
                            </ul>
                        </div>
                    </div>
                    <p><em>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</em></p>
                    <p>Donec sed odio dui. Lorem ipsum <span class="text-highlight">dolor sit amet, consectetur adipiscing elit</span>. Aenean eu leo quam. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.</p>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-2 -->

<section id="popup-blog-3" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">
                <div class="popup-window-header">
                    <h2>Gallery Post</h2>
                </div>
                <div class="popup-window-detail">
                    <div class="left-detail">
                        Date <span class="text-dark">23 October, 2014</span> <span class="delimiter-inline"></span> Posted By <a href="#">Admin</a> <span class="delimiter-inline"></span> Categories: <a href="#">Photo</a>, <a href="#">Other</a> <span class="delimiter-inline"></span> Comments: <a href="#">23</a>
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="images/share/facebook.png"></a>
                            <a href="#"><img alt="google plus" src="images/share/google_plus.png"></a>
                            <a href="#"><img alt="twitter" src="images/share/twitter.png"></a>
                            <a href="#"><img alt="pinterest" src="images/share/pinterest.png"></a>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <p>Duis autem vel eum iriure <span class="text-dark"><u>dolor in hendrerit in vulputate velit esse molestie consequat</u></span>, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas.</p>
                </div>
                <div class="popup-window-split-container">
                    <div class="row">
                        <div class="popup-window-split col-md-6">
                            <img alt="gallery img" src="images/blog/post1.jpg">
                        </div>
                        <div class="popup-window-split-detail col-md-6">
                            <h3 class="first-heading">Gallery Post</h3>
                            <p>laritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</p>
                            <ul class="list-gray">
                                <li>Mirum est notare quam littera gothica, quam nunc;</li>
                                <li>laritas est etiam processus dynamicus;</li>
                                <li>Putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud <span class="text-highlight"><strong>exerci tation ullamcorper suscipit lobortis</strong></span> nisl ut aliquip ex ea commodo consequat. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-3 -->

<section id="popup-blog-4" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">
                <div class="popup-window-header">
                    <h2>Audio post</h2>
                </div>
                <div class="popup-window-detail">
                    <div class="left-detail">
                        Date <span class="text-dark">23 October, 2014</span> <span class="delimiter-inline"></span> Posted By <a href="#">Admin</a> <span class="delimiter-inline"></span> Categories: <a href="#">Photo</a>, <a href="#">Other</a> <span class="delimiter-inline"></span> Comments: <a href="#">23</a>
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="images/share/facebook.png"></a>
                            <a href="#"><img alt="google plus" src="images/share/google_plus.png"></a>
                            <a href="#"><img alt="twitter" src="images/share/twitter.png"></a>
                            <a href="#"><img alt="pinterest" src="images/share/pinterest.png"></a>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <p>Duis autem vel eum iriure <span class="text-dark"><u>dolor in hendrerit in vulputate velit esse molestie consequat</u></span>, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas.</p>
                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-4 -->

<section id="popup-blog-5" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">
                <div class="popup-window-header">
                    <h2>Quote format</h2>
                </div>
                <div class="popup-window-detail">
                    <div class="left-detail">
                        Date <span class="text-dark">23 October, 2014</span> <span class="delimiter-inline"></span> Posted By <a href="#">Admin</a> <span class="delimiter-inline"></span> Categories: <a href="#">Photo</a>, <a href="#">Other</a> <span class="delimiter-inline"></span> Comments: <a href="#">23</a>
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="images/share/facebook.png"></a>
                            <a href="#"><img alt="google plus" src="images/share/google_plus.png"></a>
                            <a href="#"><img alt="twitter" src="images/share/twitter.png"></a>
                            <a href="#"><img alt="pinterest" src="images/share/pinterest.png"></a>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <p>Duis autem vel eum iriure <span class="text-dark"><u>dolor in hendrerit in vulputate velit esse molestie consequat</u></span>, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas.</p>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-5 -->

<section id="popup-blog-6" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">
                <div class="popup-window-header">
                    <h2>Link format</h2>
                </div>
                <div class="popup-window-detail">
                    <div class="left-detail">
                        Date <span class="text-dark">23 October, 2014</span> <span class="delimiter-inline"></span> Posted By <a href="#">Admin</a> <span class="delimiter-inline"></span> Categories: <a href="#">Photo</a>, <a href="#">Other</a> <span class="delimiter-inline"></span> Comments: <a href="#">23</a>
                    </div>
                    <div class="right-detail">
                        Share:
                        <div class="detail-socials">
                            <a href="#"><img alt="facebook" src="images/share/facebook.png"></a>
                            <a href="#"><img alt="google plus" src="images/share/google_plus.png"></a>
                            <a href="#"><img alt="twitter" src="images/share/twitter.png"></a>
                            <a href="#"><img alt="pinterest" src="images/share/pinterest.png"></a>
                        </div>
                    </div>
                </div>
                <div class="popup-window-content">
                    <p>Duis autem vel eum iriure <span class="text-dark"><u>dolor in hendrerit in vulputate velit esse molestie consequat</u></span>, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas.</p>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-6 -->
{% endcomment %}