<section id="popup-map" class="popup-window-container">
    <div class="section-content">
        <div class="popup-window-closing-area"></div>
        <div class="container">
            <div class="popup-window">
                <div class="popup-window-header">
                    <div class="popup-window-close popup-window-close-clean"></div>
                    <h2>Location on Google Maps</h2>
                </div>
                <div class="popup-window-content no-top-padding">
                    <div class="map-container">
                        <div id="map-canvas">
                        </div>
                    </div>
                </div>
            </div><!-- .popup-window -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #popup-blog-6 -->