{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-us" xml:lang="en-us" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
    <!--[if lt IE 9]>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="Photographs live forever. Yours should be perfect. Get professional photography for products, wedding, real estate, and more.">
    <meta name="keywords" content="">
    <meta name="author" content="Dana Cassity">
    <meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ object.apple_touch_icon.url }}">
    <link rel="shortcut icon" href="{{ object.favicon.url }}">

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

   	<!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,900italic,700italic,400italic%7CFjalla+One' rel='stylesheet' type='text/css'>

    <!-- Icon-Font -->
    <link rel="stylesheet" href="{% static 'font-awesome/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <!--[if IE 7]>
    	<link rel="stylesheet" href="font-awesome/font-awesome/css/font-awesome-ie7.min.css" type="text/css">
    <![endif]-->

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/animate.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css">

	<title>Luna's Picture Box</title>

    <script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pace/pace.min.js' %}"></script>
</head>

{% with object.skill_set.all as skills %}
{% with object.service_set.all as services%}
{% with object.partner_set.all as partners %}
<body>
    {% include 'loader.html' %}
	<div id="all">
        {% include 'menu.html' %}
        <div id="menu-trigger">
        	<i class="fa fa-reorder"></i>
        </div>
        {% include 'home.html' %}
        {% include 'about.html' %}
        {% include 'services.html' %}
        {% include 'portfolio.html' %}
        {% include 'blog.html' %}
        {% include 'contact.html' %}
        {# Initially invisible popup divs, revealed by user action #}
        {% include 'portfolio/popups.html' %}
        {% include 'blog/popups.html' %}
        {% include 'contact/popups.html' %}

      	<a href="#" id="to-top">
        	<span id="top-arrow-1">
        		<i class="fa fa-angle-up"></i>
            </span>

            <span id="top-arrow-2">
            	<i class="fa fa-angle-up"></i>
      		</span>
        </a>

      	<div id="page-screen-cover"></div>
    </div><!-- #all -->

	<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lightbox/js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.nav.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
{% endwith %}
{% endwith %}
{% endwith %}
</html>