<section id="section-blog" style="background-image: url({{ object.blog_background_image.url }})">
    <div class="section-content dark-screen">
        <div class="container">
            <h1 class="onscroll-animate" data-animation="fadeInRight">Blog</h1>
            <div class="onscroll-animate" data-animation="fadeInUp">
                <div id="blog-slider" class="top-arrows row">
                {% for post in blog_posts %}
                    <article class="post">
                        <div class="post-preview">
                            <div class="post-date">
                                {{ post.date_published|date:"d" }}
                                <span class="date-month">{{ post.date_published|date:"F" }}</span>
                            </div>
                            {% include 'blog/post_preview.html' %}
                        </div>
                        <h2>{{ post.title }}</h2>
                        <div class="post-content">
                            <p>{{ post.description }}</p>
                        </div>
                        <a href="#" class="button-border popup-window-trigger" data-popup="#popup-blog-{{ forloop.counter }}">Read More</a>
                    </article>
                {% endfor %}
                </div><!-- #blog-slider -->
            </div><!-- .onscroll-animate -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #section-blog -->