<section id="section-intro" style="background-image: url({{ object.home_background_image.url }})">
    <div class="section-content dark-screen">
        <div class="container">
            <h1 class="heading-enormous no-margin">{{ object.home_header_1 }}</h1>
            <h2 class="heading-huge no-margin">{{ object.home_header_2 }}</h2>
            <h3 class="heading-big no-margin">{{ object.home_header_3 }}</h3>
            <p class="text-bigger">
               {{ object.home_paragraph }}
            </p>
            <div class="margin-30"></div>
            <a href="{{ object.home_button_link }}" class="button-big">{{ object.home_button_text }}</a>
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #section-intro -->