<section id="section-portfolio" style="background-image: url({{ object.portfolio_background_image.url }})">
    <div class="section-content dark-screen">
        <div class="container">
            <div class="margin-40"></div>
            <div class="clearfix">
                <h1 class="no-top-margin pull-left onscroll-animate" data-animation="fadeInRight">Portfolio</h1>
                <ul id="isotope-filter-list1" class="pull-right filter-list">
                    <li><a class="active isotope-filter" data-filter="*" href="#">All</a></li>
                {% for category, count in categories.items %}
                    <li><a class="isotope-filter" data-filter=".filter-{{ category|lower }}" href="#">{{ category|capfirst }}</a></li>
                {% endfor %}
                </ul>
            </div>

            <div id="portfolio1" class="portfolio-layout1 onscroll-animate">
            {% for photo in photos %}
                <article class="portfolio-item filter-lifestyle">
                    <div class="popup-window-trigger" data-popup="#popup-portfolio-{{ photo.pk }}">
                        <img class="onscroll-animate" alt="{{ photo.heading }}" src="{{ photo.image.url }}" data-animation="fadeInUp">
                        <div class="portfolio-detail">
                            <div class="portfolio-detail-container">
                                <div class="portfolio-detail-content">
                                    <h2>{{ photo.title }}</h2>
                                    {{ photo.category }}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            </div><!-- #portfolio -->
        </div><!-- .container -->
    </div><!-- .section-content -->
</section><!-- #section-portfolio -->